body {
  margin: 0;
  color: #fff;
}
.toggle_dia {
  background-color: #3494b1;
  display: flex;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.toggle_dia span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #fff;
  background: none;
}
.toggle_dia::after {
  display: block;
  background: #fffbf5;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: all 0.5s ease;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
  content: "";
}
.toggle_dia.activado {
  background: #fdd384;
}
.toggle_dia.activado::after {
  left: unset;
  right: 0;
}
body.dark {
  background: #222;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculadora {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  height: 80vh;
  width: 30vw;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 8px 8px 5px 5px #00000040;
  background: #021926;
}
button {
  cursor: pointer;
  margin: 5px;
  border-radius: 30px;
  font-size: 1.5rem;
  border: none;
  background-color: #013253;
  box-shadow: 8px 6px #00000037;
}
button:active {
  background-color: rgba(50, 50, 57, 0.689);
}

.grid-2 {
  grid-column: span 2;
  font-size: 2em;
}
.back {
  font-size: 2em;
}
.display {
  grid-column: 1 /-1;
  height: 19vh;
  display: flex;
  margin: 15px 10px 1px;
  flex-direction: column;
  background-color: #0000008e;
  border-radius: 25px;
  text-align: right;
  justify-content: space-between;
  box-shadow: 0 0 0 8px #000000;
}
#valor_ingresado {
  font-size: 3rem;
  margin-right: 25px;
  margin-bottom: 15px;
}
#valor_guardado {
  font-size: 2rem;
  margin-right: 25px;
  margin-top: 15px;
}
@media screen {
}
